.ws-error {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
    background-color: #ffcccc;
    color: #990000;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tx-state {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
    background-color: #e6f7ff;
    color: #005580;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tx-buffer {
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
    background-color: #fff0e6;
    color: #804000;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.homeContainer {
    background-image: url(../assets/FOTOBASE.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

#footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 50px;
    font-size: 0.9em;
    color: #555;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.01);
    }
  }
  
  .blinking {
    animation: blink 2s ease-in-out infinite;
    box-shadow: 0 0 5px rgb(17, 180, 17);
  }