[Unit]
Description=CM4 Serial Control Daemon
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Applications/CMSerialControl
# ExecStart=/usr/bin/node /home/pi/Applications/CMSerialControl/packages/daemon/src/index.js
ExecStart=/usr/bin/make make server-start
Restart=on-failure
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
